@font-face {
  font-family: 'Montserrat';
  src: url(assets/fonts/montserrat-regular.svg) format("svg"), url(assets/fonts/montserrat-regular.ttf) format("ttf"), url(assets/fonts/montserrat-regular.woff) format("woff"); }

@font-face {
  font-family: 'Montserrat-Medium';
  src: url(assets/fonts/montserrat-medium.svg) format("svg"), url(assets/fonts/montserrat-medium.ttf) format("ttf"), url(assets/fonts/montserrat-medium.woff) format("woff"); }

@font-face {
  font-family: "slick";
  src: url(assets/fonts/slick.eot);
  src: url(assets/fonts/slick.eot?#iefix) format("embedded-opentype"), url(assets/fonts/slick.woff) format("woff"), url(assets/fonts/slick.ttf) format("truetype"), url(assets/fonts/slick.svg#slick) format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.content {
  flex: 1; }

body {
  font-family: Montserrat, sans-serif;
  color: #515151; }

.main {
  margin: 0 auto;
  width: 85%; }

.flex {
  display: flex; }

.header {
  box-shadow: 0 0 14px 0 rgba(62, 81, 100, 0.14);
  padding-top: 2%;
  padding-bottom: 2%; }
  .header__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #3e5164;
    padding: 10px;
    max-width: 46px;
    margin-right: 5px; }
    .header__links a:hover svg {
      fill: #212b35; }
    .header__links a:hover .svg-link {
      fill: #212b35; }

.about-myself {
  padding-top: 1%;
  padding-left: 4%;
  max-width: 960px; }
  .about-myself__prof {
    padding-top: 2%;
    padding-bottom: 2%; }
  .about-myself__text {
    line-height: 24px; }

.navigation {
  display: flex;
  margin-top: 24px; }
  .navigation li {
    list-style-type: none; }
  .navigation a {
    text-decoration: none;
    margin-right: 20px;
    font-family: Montserrat-Medium, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #3e5164; }
    .navigation a:hover {
      color: #526b83; }

.portfolio {
  width: 800px;
  margin: 2% auto;
  height: 504px;
  border: 5px solid transparent;
  position: relative;
  background-clip: padding-box; }
  .portfolio::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    border-radius: inherit;
    background: linear-gradient(180deg, #b5d1d1 0%, #5b9393 100%); }
  .portfolio__title {
    display: flex; }
  .portfolio__desc {
    line-height: 23px;
    margin-bottom: 8px; }
  .portfolio__link {
    text-decoration: none;
    outline: none;
    margin-left: 8px; }
    .portfolio__link:hover svg {
      fill: #000000; }
  .portfolio__stack {
    font-style: italic;
    font-size: 14px; }
  .portfolio__page {
    float: right; }
  .portfolio__date {
    display: block;
    text-align: right;
    font-size: 14px; }
  .portfolio__page-link {
    text-decoration: none;
    outline: none;
    color: #3e5164;
    line-height: 24px; }
    .portfolio__page-link:hover {
      color: #212b35; }
  .portfolio__arrow {
    color: #3e5164;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
    z-index: 1;
    fill: url(#arrow-gradient); }
    .portfolio__arrow_left {
      left: -50px; }
    .portfolio__arrow_right {
      right: -50px; }

.portfolio-docs {
  display: flex;
  flex-direction: column; }
  .portfolio-docs__item {
    display: flex;
    line-height: 50px;
    padding-right: 40px;
    padding-bottom: 25px; }
  .portfolio-docs__link {
    text-decoration: none;
    margin-right: 8px;
    padding: 25px 35px; }
  .portfolio-docs__title {
    white-space: nowrap; }
  .portfolio-docs_column {
    width: 70%;
    margin: 2% auto; }

#cert-php-basic {
  background: url(img/cert-php-basic.jpg) no-repeat; }

#cert-eng-esol {
  background: url(img/esol-50.jpg) no-repeat;
  padding: 25px 18px; }

#cert-html-gold {
  background: url(img/cert-html-gold.jpg) no-repeat; }

.gb-cert {
  background: url(img/test-gb.jpg) no-repeat; }

.slick-wrapper {
  position: relative; }

.slick-text {
  position: absolute;
  bottom: 4px;
  left: 0;
  padding: 20px 50px;
  background: rgba(173, 189, 204, 0.7);
  width: 100%;
  height: 30%;
  color: #212b35; }

.section_next {
  padding-top: 50px; }

.section-heading {
  margin: 50px 0 40px;
  color: #3e5164; }

#back-to-top {
  background: url(img/arrow-up-icon-45px.png) no-repeat;
  padding: 23px;
  opacity: 0.2;
  position: fixed;
  right: 20px;
  bottom: 17px;
  cursor: pointer;
  display: none; }

.footer {
  box-shadow: 0 0 24px 0 rgba(62, 81, 100, 0.14);
  padding-top: 2%;
  padding-bottom: 2%; }
  .footer__links {
    display: flex; }
    .footer__links a {
      text-decoration: none;
      margin-right: 12px; }
    .footer__links a:hover svg {
      fill: #212b35; }
    .footer__links a:hover .svg-link {
      fill: #212b35; }

.divider {
  margin: 50px 0 -40px; }
  .divider__hr-right {
    margin-bottom: 10px;
    border-top: 1px solid #a5c7c7;
    transform: rotate(-0.8deg); }
  .divider__hr-left {
    border: none;
    border-top: 1px solid #5b9393;
    transform: rotate(0.8deg); }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0;
      font-size: 0;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

